/* body {
  background-color: #04091E;;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
} */

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30% 10% 20% 20% 20%;
  gap: 0px 0px;
  grid-template-areas:
    "FlourishChart FlourishChart IntroText IntroText"
    "SearchboxDesc SearchboxDesc SearchboxDesc ."
    "Map Map Map RaceDemographics"
    "Map Map Map MajorDist"
    "SocialMobility StickerPrice ParentsIncome Captions";
  margin-left: auto;
  margin-right: auto;
}

.flourish-chart {
  grid-area: FlourishChart;
  /* max-width: 400px; */
}

.IntroText {
  grid-area: IntroText;
  font-size: 1.2vw;
  margin-top: auto;
  margin-bottom: auto;
}

.SearchboxDesc { grid-area: SearchboxDesc; }

.Map { grid-area: Map; }

.RaceDemographics { grid-area: RaceDemographics; }

.MajorDist { grid-area: MajorDist; }

.SocialMobility { grid-area: SocialMobility; }

.StickerPrice { grid-area: StickerPrice; }

.ParentsIncome { grid-area: ParentsIncome; }

.Captions { grid-area: Captions; }


.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}

.ui-autocomplete {
    opacity: .5;
    max-height: 200px;
    max-width: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

html {
  font-family: sans-serif;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.RaceDemographics {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.MajorDist {
  display: flex;
  align-items: center;
  /* height: 100%; */
}
